@page "/ethor/details"
@using eThorWebApp.Shared.Models
@inject HttpClient Http

<Breadcrumb>
    <BreadcrumbItem><a href="#">Ehor</a></BreadcrumbItem>
    <BreadcrumbItem IsActive="true">Details</BreadcrumbItem>
</Breadcrumb>


@functions {

}
